# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
backend/node_modules/
frontend/node_modules/

# Секретні змінні (найважливіше!)
.env
backend/.env
frontend/.env
*.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системні файли (для Mac та Windows)
.DS_Store
Thumbs.db

# Результати збірки фронтенду
dist/
frontend/dist/
build/
frontend/build/

# Cache
.eslintcache
.cache
.npm/